@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
    margin:0;
    padding:0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'
}

input {
    margin: 0;
    padding: 0;
}

.section-title {
    border-bottom: 2px solid rgb(32, 201, 151);
}

.over-head {
    width: 100%;
    height: 7px;
    /* background: linear-gradient(to right, rgb(32, 201, 151), #80FF72, #7EE8FA);     */
    background: linear-gradient(to right, rgb(32, 201, 151), #7EE8FA);    
}

section {
    padding: 0 2rem;
    padding-top: 0px;
    padding-right: 2rem;
    padding-bottom: 0px;
    padding-left: 2rem;
    margin-top: 4rem;
    margin-right: 0px;
    margin-bottom: 2rem;
    margin-left: 0px;    
}

h2 {
    font-size: 3rem;
    margin: 4rem 0 2rem;
}

h2 input{
    font-weight: bold;
    text-align:center;
        border: none;
}

h2 input:hover, h2 input:focus{
    color:rgb(32, 201, 151);
}

input:focus {
    outline: none;
}


h3{
    font-size: 2rem;
    margin: 0 0 1rem;
}

h3 input{
    font-weight: 300;
    text-align:center;
        border: none;
}

h3 input:hover, h3 input:focus{
    color:rgb(32, 201, 151);
}

h4{
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

h5 {
    font-size: 1.3rem;
    margin: 0 0 .5rem;
}

section span {
    display: block;
}

.row-left {
    margin-bottom: 2rem
}

ul li {
    position: relative;
    padding: .2rem 0 .2rem 1rem;    
    list-style: none;
}

.ul-text li{
    padding-left: 0;
    display: block;
    box-sizing: border-box;
}

ul li:before {
    content: '·';
}

.center-align {
    text-align: center
}

.no-margin {
    margin:0;
}

.no-bold {
    font-weight: 300;
}

.image-list {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 130px;
}

.image-list li{
    padding: 0;
    list-style: none;
}

.clearboth {
    clear: both;
    margin-bottom: 2rem
}

.image {
    width:54px;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

.my-photo {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 160px;
    border-radius: 50%;
}

.color-black {
    color: black;
}

.bold {
    font-weight: 600;
}

p {
    /* margin: 0 0 1rem;     */
}

.row-sub {
    margin: 0 0 1.5rem;    
}

.period {
    /* margin-bottom: 1.5rem */
    
}

.row-right {
    margin-bottom: 3rem;
}

.no-margin-bottom {
    margin-bottom:0;
}

.row-linear {
    margin-bottom: 2rem
}

.highlight {
    /* background-color: rgb(32, 201, 151); */
    background-color: #60e693;
    background-color: #a3eabe;
    display: inline;
    font-weight:700;
}

::selection { 
    background-color: rgb(32, 201, 151);
}

.sub-title {
    margin-bottom: 1.5rem
}

.image-list li:before {
    content: '';
}
.container {
    margin-bottom: 5rem;
}

.margin-little {
    margin-bottom: 0.4rem
}

@media (min-width: 800px) {
    .container {
        width:800px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 10rem;
    }
    .row-left {
        float: left;
        width: 272px;
    }
    .row-right {
        float: right;
        width: 448px;
    }
    .my-photo {
        margin-left:0;
        width: 200px;
    }
}